<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title},_,_)">
  <title>OAuth 2.0 Playground</title>
</head>
<body th:replace="layout::body(~{::.container})">
<div class="container d-flex justify-content-center">
  <div class="text-center">
    <div>
      <img class="profile-img" th:src="${userPrincipal.picture}"/>
    </div>
    <div>
      <h2>Welcome <span th:text="${userPrincipal.name}">XXX</span></h2>
      Please click the menu link to play OAuth 2.0 😉
    </div>
  </div>
</div>
</body>
</html>
