.container .row + .row {
  margin-top: 0.5rem;
}

button {
  width: 100px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

tr.registration:hover th,
tr.registration:hover td {
  background: #e3e7ea;
  cursor: pointer;
}

tr.deleted th,
tr.deleted td {
  background: #dc3545;
  text-decoration: line-through;
}

.notify-result {
  color: #6c757d;
}

#timezone {
  font-size: 0.9rem;
}
